@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
             Sobre 431
        </div>
    </div>
