@model IEnumerable<ITAW000.Models.Tipo>

@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="container-fluid">
                <div class="row-no-gutters">
                    <div class="col-lg-10">
                        <h3> <i class="material-icons" style="font-size:30px;">alarm</i> Classificações Relatório de @DateTime.Today.ToShortDateString()</h3>
                        <p>Relatorio de registro e suas classificações:</p>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
