@model String

@{
    ViewBag.Title = "Classficar";
}

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Classificar do Registro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Regra a ser aplicada</label>
                        @Html.DropDownList("idRegra", new SelectList(ViewBag.ListaRegras, "IdRegra", "descricao", -1), htmlAttributes: new { @class = "form-control", id = "IdRegra", name = "IdRegra" })
                        @Html.ValidationMessage("idRegra", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <label class="col-sm-12 control-label">Observação</label>
                            @Html.TextArea("observacao",
                                                    new
                                                    {
                                                        @class = "form-control",
                                                        id = "observacao",
                                                        name = "observacao",
                                                        @style = "width=100%",
                                                        rows = "3",
                                                        @draggable = "false",
                                                        @maxlength = "500",
                                                        @minlength = "5",
                                                        @required = "false"
                                                    })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Salvar">
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div>

@section Scripts {

    <script type="text/javascript">
           

            $('#confirmar').on('click', function () {
                var valores = $('table tbody tr td label input:checked').map(function () {
                    return this.value;
                }).get().join(', ');

                $('#resultado').val(valores);

                var val2 = $('#IdRegra').val();
                var obs = $('#observacao').val();

                $.ajax({
                    type: "POST",
                    url: '/Pendencias/Classificar',
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    data: "{ IdRegra:'" + val2 + "', IDs:'" + valores + "', observacao:'" + obs + "' }",
                    success: function (result) {
                        alert("Atualizaçao feita com sucesso");
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });

            });       

    </script>
}
