@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*padding: 2px;
    background: #ffe400;
    border:nome;
    border-style:nome;
    border-radius: 0;
    margin-bottom: 12px;
    box-shadow: 1px 1px 3px 1px #999;
  
    border-radius: 5px;*/
    transition: 0.3s;
    height: 40px;
}

.navbar-btn {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    outline: none !important;
    border: 1px;
}


.navbar a i {
    /*Text-shadow: 2px 0px 2px white, 2px 0px 0px white, 0px 2px 0px white, 0px 2px 0px white;*/
    font-size: 24px;
    color: #313885;
    margin-top: 5px;
    aria-hidden ="true"
}

.navbar ul li a:hover {
    color: #313885;
    background:none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

/*#page-content-wrapper {
    min-width: 100vw;
}*/
#page-content-wrapper {
    position: absolute;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
    background:#fafafa;
}


.title {
    Text-shadow: 2px 0px 2px white, 2px 0px 0px white, 0px 2px 0px white, 0px 2px 0px white;
    font-size: 100%;
    font-weight: 900;
    color: #313885;
    padding-left: 8px;
    margin-top: 5px;
}

.card {
    position: relative;
    z-index: 11;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: #fafafa;
}

.card-size {
    position: relative;
    z-index: 11;
    background-color: #000;
    width: 100%;
    height: calc(100vh - 99px);
    margin : 2px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: #fafafa;
}

.card-header {
    background-color: #33478a; /*#2d2c4f; */
    height: 65px;
    color: white;
}
    .card-header i {
        float:left;
        font-size: 28px;
        margin-top: 10px;
        color: #fff;
    }

    .card-header h3 {
        margin: 5px 0 0 10px;
        font-size: 20px;
        display: inline-block;
        color:#fff;
    }

    .card-header p {
        font-size: 12px;
        margin-left: 40px;
        color: #fafafa;
    }

    .card-header a {
        float: right;
        margin: -50px 0 0 10px;
    }

    .footer {
        grid-column: span 2;
        padding: 30px;
        text-align: right;
        font-size: 0.950em;
    }

td a {
    font-size: 25px;
    cursor: pointer;    
}


.container-fluid button {
    border: none;
    cursor: pointer;
    background: #aaaaaa;
    color: #ffffff;
    display: inline-block;
    margin: 0 -2px;
    padding: 5px 10px;
    border: 1px solid #666666;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: white;
    transition: all 0.3s;
    background: #444141 ;
}

    #sidebar.active {
        min-width: 110px;
        max-width: 110px;
        text-align: center;
    }

    #sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
            text-align: center;
        }

    #sidebar.active ul ul a {
        padding: 15px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 60%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #ffe400;
        height: 85px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 20px;
        background-position-y: 15px;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
            background-image: url(../images/bb_min.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


        #sidebar .sidebar-header img {
            display: none;
            background-image: none;
            background-image: url(../images/bb_min.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    #sidebar .sidebar-footer {
        padding: 20px;
        background: #757272;
        height: 25px;
        position: absolute;
        bottom: 0;
        width: 250px;
        text-align: center;
    }

       .hero-image {
     
            z-index:15;
        }

    #sidebar ul.components {
        padding: 20px 0;
        padding-left: 1px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
       
    }



        #sidebar ul li a:hover {
            color: #000;
            background: #ffe400;
            margin:1px;
        }


        #sidebar ul  a:hover {
            color: #000;
            background: #ffe400;
        }

    #sidebar ul li a i {
        margin-right: 10px;
    }

    /*#sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fafafa;       
    }*/


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 15px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #444141;
}



#toast-container > .toast-info {
    background-color: #225198 !important;
    margin-top: 75px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    width:100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;

    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);

    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {      
        color: #313885 ; 
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 20px;
    }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
